# Scrapy project: vk_parser
# Запуск:
#   cd /path/to/vk_scrapy_parser
#   python -m scrapy crawl vk_wall
#
# Настройки берутся из vk_parser/settings.py

[settings]
default = vk_parser.settings

[deploy]
project = vk_parser
